body {
  text-align: center;
  background: #1f1f20;
  color: white;
  font-family: 'helvetica neue', sans-serif;
  font-weight: 100;
  padding-bottom: 50px;
}

.content {
  min-width: 350px;
  width: 45%;
  margin: 0 auto;
  text-align: left;
  width: 60%;
  margin: 0 auto;
}

pre {
  overflow: auto;
  tab-size: 2;
  white-space: pre-wrap;
}

pre > code {
  display: block;
  padding: 0 20px;
  word-wrap: normal;
}

h1 {
  font-size: 50pt;
  margin-top: 60px;
  margin-bottom: 120px;
}

h3 {
  font-size: 25pt;
  margin-top: 60px;
  font-weight: lighter;
  letter-spacing: 1.6px;
  margin-bottom: 20px;
}

.challengeNumberTitle {
  font-family: 'Indie Flower', cursive;
  font-size: 30pt;
  vertical-align: top;
}

ol {
  list-style-position: outside;
  margin: 0;
  margin-left: 16px;
  padding: 0;
}

li {
  padding-top: 50px;
}

li:first-child {
  padding-top: 0;
}

.warning {
  font-size: 11pt;
  color: #ba2323;
}